services:
  bot:
    build:
      context: .
      dockerfile: .devcontainer/Dockerfile
    volumes:
      - .:/workspace
    env_file:
      - .env
    command: python3 app/main.py
    restart: always
    deploy:
      resources:
        limits:
          memory: 512M
          cpus: '0.5'